---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "reset",
        "breakpoints",
        "animation",
        "utilities",
        "whitespace",
        "grid",
        "sidebar",
        "sizing",
        "colors",
        "positioning",
        "depth",
        "typography",
        "tables",
        "images",
        "borders",
        "forms",
        "buttons",
        "syntax"
;

body>.row, .wrapper>.row {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}

header .w75 {
	@include medium {
		display: block;
		width: 100%;
	}
}

header .w25 {
	@include medium {
		display: none;
	}
    a {
        font-weight: 400 !important;
    }
}

#recent-work .w50 {
	padding-top: 0;
	@include medium {
		display: block;
		width: 100%;
	}
    .image-container {
        position: relative;
        img {
            position: relative;
            opacity: 0.9;
            z-index: 99;
            transition: opacity 0.3s;
        }
        p {
            position: absolute;
            z-index: 89;
            top: 50%;
            left: 20%;
            text-align: center;
            width: 60%;
        }
    }
    .image-container:hover {
        img {
            opacity: 0.2;
        }
    }
}

#recent-work .w100 {
	padding-bottom: 0;
}