<header class="row gutters">
  <div class="column w75 p1">
    <p>My name is Andy Gillette.</p>
    <p>I am a developer and designer whose work tends to focus on front-end technologies for screens of all types. I try to spend at least 25% of my time learning new languages, tools and approaches. Sometimes I write and talk about design, technology, sustainability and the future.</p>
  </div>
  <div class="column w25 p1">
    <p>Get in touch with me.</p>
    <div class="row">
      <div class="column w30">
        <p><i class="fa fa-envelope"></i><br><i class="fa fa-twitter"></i><br><i class="fa fa-instagram"></i><br><i class="fa fa-github"></i></p>
      </div>
      <div class="column w70">
        <p><a href="mailto:andy.gillette@gmail.com">@gmail</a><br><a href="http://twitter.com/agillette" target="_blank">@agillette</a><br><a href="http://instagram.com/andygillette" target="_blank">@andygillette</a><br><a href="http://github.com/agillette" target="_blank">@agillette</a></p>
      </div>
    </div>
</header>
<hr>
